@model ControlSystem.Models.Scores

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Scores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupsDetails.GroupsDetailsId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupsDetails.GroupsDetailsId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Percentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Percentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ScoreId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
